<div class="row">
  <!-- <div class="col-lg-4" *ngFor="let asdf of teams">
    <nb-card>
      <nb-card-header>Not Implemented</nb-card-header>
      <nb-card-body>
        <ngx-echarts-scatter [team]="asdf"></ngx-echarts-scatter>
      </nb-card-body>
    </nb-card>
  </div> -->
  <div class="col-lg-4">
    <nb-card class="scatter">
      <nb-card-header class="scatter-header">Atlanta Hawks</nb-card-header>
      <nb-card-body>
        <ngx-echarts-scatter team="ATL"></ngx-echarts-scatter>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card class="scatter">
      <nb-card-header class="scatter-header">Boston Celtics</nb-card-header>
      <nb-card-body>
        <ngx-echarts-scatter team="BOS"></ngx-echarts-scatter>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card class="scatter">
      <nb-card-header class="scatter-header">Brooklyn Nets</nb-card-header>
      <nb-card-body>
        <ngx-echarts-scatter team="BRK"></ngx-echarts-scatter>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-4">
    <nb-card class="scatter">
      <nb-card-header class="scatter-header">Chicago Bulls</nb-card-header>
      <nb-card-body>
        <ngx-echarts-scatter team="CHI"></ngx-echarts-scatter>
      </nb-card-body>
    </nb-card>
  </div>
</div>
