<div class="row">
  <ngx-echarts-graph></ngx-echarts-graph>
  <ng-container *ngIf="teamDetails | async as teams">
    <div class="col-12">
      <nb-card class="bar">
        <nb-card-header class="bar-header">Team Performance</nb-card-header>
        <nb-card-body>
          <ngx-echarts-bar [teamDetail]="teams"></ngx-echarts-bar>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let team of teams[0]; let index = index;">
        <nb-card class="scatter">
          <nb-card-header class="scatter-header" *ngIf="teamFullname | async as teamFullname">
            {{ teamFullname[index] }}
          </nb-card-header>
          <nb-card-body>
            <ng-container *ngIf="playersChartData | async as chartData">
              <ngx-echarts-scatter [playerChartData]="chartData[team]"></ngx-echarts-scatter>
            </ng-container>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-4">
        <nb-card class="scatter-big">
          <nb-card-header>
            Denver Nuggets
          </nb-card-header>
          <nb-card-body>
            <ng-container *ngIf="playersChartData | async as chartData">
              <ngx-echarts-scatter [playerChartData]="chartData['DEN']"></ngx-echarts-scatter>
            </ng-container>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </ng-container>
</div>